@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

body{
	font-family: "Montserrat", sans-serif;
	user-select: none;
}

li{
	list-style: none;
}
a{
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}
h2{
	font-size: 3.3rem;
	letter-spacing: 1px;
	text-wrap: nowrap;
	font-family: 'Libre Baskerville';
}
p{
	font-size: 1.2rem;
	font-family: 'Montserrat';
	letter-spacing: -1px;
}

/* HEADER */
header{
	position: fixed;
	display: flex;
	width: 100%;
	padding: 0 2rem;
	z-index: 100000;
	user-select: none;
}
#navbar{
	position: absolute;
	width: 90%;
	height: 60px;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	letter-spacing: 1px;
	border-radius: 200px;
	transition: all .5s ease;
	left: 50%;
  transform: translateX(-50%);
}
#navbar.active{
	backdrop-filter: blur(100px);
	background: #ffffff61;
	margin-top: 10px;
	padding: 0 20px;
	width: 90vw;
}
#navbar .links a, 
#navbar .logo a{
	color: #303030;
}

#navbar .logo a{
	font-size: 1.5rem;
	font-weight: bold;
}
#navbar .links{
	display: flex;
	gap: 2rem;
}
#navbar .links li{
	transition: all .2s ease;
}
#navbar .links li:hover{
	scale: 1.2;
}
#navbar .toggle-btn{
	display: none;
	color: #fff;
	font-size: 1.5rem;
	cursor: pointer;
}
.action-btn{
	background-color: #509600;
	color: #fff;
	padding: 0.5rem 1rem;
	border: none;
	outline: none;
	border-radius: 10px;
	font-size: .8rem;
	font-weight: bold;
	cursor: pointer;
	transition: scale .3s ease;
}
.action-btn:hover{
	scale: 1.1;
	color: #fff;
}
.action-btn:active{
	scale: 0.95;
}

/* DROPDOWN MENU */
.dropdown-menu{
	display: none;
	position: absolute;
	right: 2rem;
	top: 60px;
	width: 300px;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(15px);
	border-radius: 10px;
	overflow: hidden;
	height: 0;
	transition: height .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown-menu li{
	padding: .7rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.dropdown-menu a{
	color: #303030;
}
.dropdown-menu .action-btn{
	width: 100%;
	display: flex;
	justify-content: center;
}
.dropdown-menu.open{
	height: 240px;
}

/* MAIN */
.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
  background-image: linear-gradient(to bottom, #afd2ff, #ffffff);
}

#text {
  position: absolute;
  text-align: center;
  margin-bottom: 40vh;
  font-size: 6rem;
  color: #303030;
  transition: all 0.1s ease;
	font-family: "Libre Baskerville", serif;
	user-select: none;
	text-wrap: nowrap;
	z-index: 1;
}
.hero p {
  font-size: 1.2+rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: light;
	margin-top: 20px;
	letter-spacing: 2px;
}
.hero img {
  position: absolute;
  bottom: 0;
  width: 100%;
	z-index: 2;
}

#parallax{
	overflow-x: hidden;
}
#parallax #ptext{
	font-size: 6rem;
	text-wrap: nowrap;
	color: #303030;
	/* font-family: 'Montserrat', sans-serif; */
	font-family: "Libre Baskerville", serif;
	/* left: 0; */
	padding: 2vh 0;
}


#topico{
	display: flex;
	flex-direction: column;
	width: 30%;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding: 0 0 125px 0;
	color: #303030;
}
#topico h1{
	text-wrap: nowrap;
	font-size: 3.2rem;
	font-family: "Libre Baskerville", serif;
	letter-spacing: -3px;
}
#topico p{
	/* margin-top: 25px; */
	padding: 3vh 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2rem;
	width: 180%;
}
#topico a.btn2{
	color: #303030;
	font-size: 1.2rem;
	font-weight: 600;
	padding: 15px 0 10px 0;
	position: relative;
	transition: all .6s ease;
}
#topico a.btn2:hover{
	padding: 15px 0 5px 0;
}
#topico a.btn2::before{
	content: "";
  position: absolute;
	left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
	border-radius: 100px;
  background-color: #404040;
}

.padrao01{
	color: #303030;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	flex-direction: column;
	width: 70%;
	text-align: center;
	align-items: center;
	justify-content: center;
}
#info01{
	padding: 10vw 0;
}
.padrao01 p{
	padding: 3vh 8vw;
}

#selecao{
	background-image: url("assets/img/espaco_aberto.jpg");
	background-size: cover;
	height: 100vh;
	/* padding: 15vw; */
	align-items: center;
	justify-content: center;
	display: flex;
	margin: 100px 0;
}
#selecao .card{
	background-color: #fff;
	padding: 30px;
	border-radius: 20px;
	display: flex;
}
#selecao .card #item{
	display: flex;
	margin: 2vh 0;
	gap: 1vw;
	align-items: center;
	padding: 5px;
	transition: all .2s ease;
}
#selecao .card #item, #item i, #item .text{
	cursor: pointer;
}
.active{
	background-color: rgba(0, 0, 0, 0.05);
	border-radius: 10px;
}
#selecao .card .textos #item.active i{
	background-color: #332424;
	color: #fff;
}
#selecao .card #item i{
	padding: 30px;
	min-width: 6vw;
	border-radius: 10px;
	background-color: #f8f4ec;
	text-align: center;
	transition: all .3s ease;
}
#selecao .card .textos{
	margin-right: 3vw;
}
#selecao .card .text{
	font-size: 1.3rem;
	letter-spacing: -1px;
}
#selecao .card img.lateral{
	width: 25vw;
	object-fit: cover;
	border-radius: 10px;
}
#selecao h1{
	font-family: 'Libre Baskerville';
	font-size: 1.9rem;
	margin-bottom: 40px;
}











/* RESPONSIVDADE */
@media (max-width: 992px){
	#navbar .links,
	#navbar .action-btn{
		display: none;
	}
	#navbar .toggle-btn{
		display: block;
		/* margin-right: 60px; */
		z-index: 100000;
	}
	.dropdown-menu{
		display: block;
	}
	.hero-content__p,
	.button{
		font-size: 1rem;
	}
	.hero-content h1{
		font-size: 4rem;
		line-height: 60px;
	}
	#text{
		font-size: 4rem;
		margin-top: 150px;
	}
	.hero p{
		margin-top: 100px;
	}
	.hero{
		height: 100vh;
	}
	#parallax #ptext{
		font-size: 4rem;
	}
}

@media (max-width: 576px){
	.dropdown-menu{
		left: 2rem;
		width: unset;
	}
	.hero-content h1{
		font-size: 3.5rem;
	}
	#text{
		margin-top: 200px;
	}
	#textp{
		margin-top: 150px;
	}
	#topico h1{
		font-size: 1.1rem;
		letter-spacing: 0px;
	}
	#topico p{
		font-size: .6em;
		width: 90vw;
		padding: 2vh 0;
	}
}




/* BOTÕES */
.btn01{
	padding: 20px 65px;
	border-radius: 10px;
	background-color: #303030;
	color: #fff;
	font-weight: bold;
	letter-spacing: 1px;
	transition: all .2s ease;
}
.btn01:hover{
	padding: 25px 60px;
	letter-spacing: 0;
}
.btn01:active{
	scale: 0.9;
}


.btn02{
	text-decoration: underline 3px #303030;
	color: #303030;
	font-size: 1.2rem;
	font-weight: 600;
	margin-top: 10px;
	transition: all .2s ease;
}
.btn02:hover{
	letter-spacing: 2px;
}
.btn02:active{
	scale: 0.9;
}






body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: #303030;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #fff;  /* creates padding around scroll thumb */
}